.App {
  /* --lightTestColor: mylight(red, 0.5); */
  /* --transparentizeTestColor: transparentize(0.8, var(--testColor)); */
  --transparentizeTestColor: transparentize(0.8, red);
  --lightTestColor: lighten(0.2, var(--testColor));
  --darkenTestColor: darken(0.2, var(--testColor));
}
