.App {
  /* --transparentizeTestColor: transparentize(0.8, red); */
  /* --transparentizeTestColor: transparentize(0.4, var(--testColor)); */
  --lightTestColor: lighten(0.4, var(--testColor));
  --darkenTestColor: darken(0.1, var(--testColor));
  --darken233TestColor: mydarken222(0.05, mydarken222(0.05, var(--testColor)));
  --darken234TestColor: mydarken222(0.15, var(--testColor));
  --transparentizeTestColor: transparentize(
    0.4,
    mydarken222(0.05, mydarken222(0.05, var(--testColor)))
  );
}

/* Chrome 85+ 才生效 */
@property --start-color {
  syntax: "<color>";
  inherits: false;
  initial-value: deepskyblue;
}
@property --end-color {
  syntax: "<color>";
  inherits: false;
  initial-value: deeppink;
}
@property --progress {
  syntax: "<percentage> | <number> | <length>";
  inherits: false;
  initial-value: 0;
}
